

// External imports
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap');

// Fields
$font: 'Libre Baskerville', serif;
$trans: cubic-bezier(.9,0,.1,1);
$prim: #EEEEEE;
$seco: #191919;
$tert: #E32F38; // #2140AA;

// Body
body {

  position: absolute;
  overflow: hidden;
  font-family: $font;
  background-color: $prim;
  color: $seco;
  margin: 0;

  *{ box-sizing: border-box; }

  #instance {

    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    cursor: none;

    &:active #cursor .secondary {

      width: 16px;
      height: 16px;

    }

    #logo {

      position: fixed;
      top: calc(17.5% / 2); left: 64px;
      transform: translateY(-50%);
      width: 160px; height: 160px;
      border-radius: 50%;

      .inner {
        
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);

        font-size: 24px;
        font-weight: 300;
        text-transform: lowercase;
        color: rgba($seco, .5);
        z-index: 6;

        line-height: 1.2;
        transition: 300ms $trans;

      }

      &:hover .inner {
        
        color: $seco;

      }

    }

  }

}

// Imports
// Infrastructure
@import './infra/cursor.infra';
@import './infra/scrollbar.infra';
@import './infra/view.infra';
@import './infra/sidebar.infra';
