

// Fields
$font: 'Poppins', sans-serif;
$trans: cubic-bezier(.7,0,.3,1);
$prim: #FFFFFF;
$seco: #191919;
$tert: #2140AA;

// Body
body {

  position: absolute;
  overflow: hidden;
  font-family: $font;
  background-color: $prim;
  color: $seco;
  margin: 0;

  *{ box-sizing: border-box; }

  #instance {

    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    cursor: none;

    &:active #cursor .secondary {

      width: 48px;
      height: 48px;

    }

  }

}

// Imports
@import './infra/cursor.infra';
@import './infra/scrollbar.infra';
@import './infra/view.infra';