

// Cursor
#cursor {

  position: absolute;
  pointer-events: none;

  .secondary,
  .primary {

    position: fixed;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 11;

  }

  .secondary {

    width: 64px;
    height: 64px;
    // border: 1px solid rgba($tert, .4);
    background-color: rgba($tert, .2);

    transition: 
      width 170ms $trans,
      height 170ms $trans,
      background-color 170ms $trans;

  }

  .primary {

    width: 8px;
    height: 8px;
    background-color: $tert;

  }

  &.attracted .secondary {

    width: 32px;
    height: 32px;
    background-color: rgba($tert, .4);

  }

}