

// Animations
// From left
@keyframes fromLeft {
  0% { left: -32px; width: 32px; }
  50% { left: 25%; width: 100%; }
  100% { left: calc(100% + 32px); width: 32px; }
}

// From right
@keyframes fromRight {
  0% { right: -32px; width: 32px; }
  50% { right: 25%; width: 100%; }
  100% { right: calc(100% + 32px); width: 32px; }
}

$n_trans: 1250ms;

// Scrollbar
#scrollbar {

  display: flex;
  position: fixed;
  bottom: 64px; left: 96px;
  width: calc(100vw - 192px);
  height: 12px;
  z-index: 8;

  transition: 750ms $trans;
  &.inactive { bottom: -64px; }

  .element {

    flex: 1;

    &.mid-part {

      position: relative;

      .inner {

        position: absolute;
        top: 50%; left: 8px;
        transform: translateY(-50%);
        width: calc(100% - 16px);
        height: 2px;

        background-color: rgba(#393939, .2);
        overflow: hidden;

        .overlay {

          position: absolute;
          top: 0; width: 0; height: 2px;
          background-color: rgba($tert, .75);


        }

      }

      // Animations
      &.animLeft .overlay {

        left: 0;
        animation: $trans $n_trans fromLeft;

      }

      &.animRight .overlay {

        right: 0;
        animation: $trans $n_trans fromRight;

      }

    }

    &.view-part {

      position: relative;
      max-width: 12px;
      min-width: 12px;

      .inner {

        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        width: 96px; height: 96px;
        border-radius: 50%;
        z-index: 2;

        .overlay {
          
          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%,-50%);

          width: 8px; height: 8px;
          // background-color: rgba(#393939, .5);
          border: 1px solid rgba($seco, .35);
          border-radius: 50%;
          transition: calc(#{$n_trans} / 2) $trans;

        }

      }

      &.active .overlay {

        width: 12px;
        height: 12px;
        background-color: $tert;
        border-color: $tert;

      }

    }

  }

}


// Animations
// From left
@keyframes oFromLeft {
  0% { left: calc(-100% - 32px); width: 100%; }
  50% { left: 0; width: 100%; }
  100% { left: calc(100% + 32px); width: 100%; }
}

// From right
@keyframes oFromRight {
  0% { right: calc(-100% - 32px); width: 100%; }
  50% { right: 0; width: 100%; }
  100% { right: calc(100% + 32px); width: 100%; }
}

// Overlay
#overlay {

  position: fixed;
  top: 0; left: calc(-100% - 32px);
  width: 100%;
  height: 100%;
  background-color: lighten($prim, 2%);
  z-index: 7;

  .logo {

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);

    width: 256px;
    height: 96px;
    background-color: $tert;

    font-weight: 300;
    font-size: 32px;
    color: $prim;
    text-transform: lowercase;
    text-align: center;
    line-height: 96px;

  }

  // Animations
  &.animLeft {

    left: 0; right: auto;
    animation: $trans $n_trans oFromLeft;

  }

  &.animRight {

    right: 0; left: auto;
    animation: $trans $n_trans oFromRight;

  }
  

}