

// View
.view {

  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;

  display: none;
  &.active { display: block; }

  &:nth-child(1) .image {
    background-position: top !important;
  }

  .container {

    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100vw; height: 65vh;
    overflow-y: scroll;
    
    scroll-behavior: smooth;
    transition: 750ms $trans;
    
    &::-webkit-scrollbar {
      width: 0;
    }

    .image {

      position: sticky;
      top: 0; left: 0;
      width: calc(100vw - (100vw / 1.5));
      height: 65vh;

      background-size: cover;
      background-position: center;

      transition: 750ms $trans;
      // filter: grayscale(100%);
      
      &:after {

        display: none;
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: rgba($seco, .1);

      }

    }

    .upper-text {

      position: absolute;
      top: calc(65vh / 2 - 16px); 
      left: calc((100vw / 1.5) / 2 + (100vw - 100vw / 1.5) - 64px);
      transform: translate(-50%, -50%);

      .open {

        position: absolute;
        bottom: -64px;
        right: -0px;
        transform: translate(-50%,-50%);

        width: 96px;
        height: 96px;
        border-radius: 50%;
        
        white-space: nowrap;
        padding-left: -32px;

        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: $tert;

        svg {

          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%,-50%) rotate(-90deg);
          width: 64px;

          * {

            fill: transparent;
            stroke: $tert;
            stroke-width: 1px;
            transition: 170ms $trans;

          }

        }

        &:hover svg * {

          fill: $tert;

        }

      }

      .title {

        font-size: 64px;
        font-weight: 900;
        max-width: 690px;
        width: 530px;
        line-height: 1.2;

        .word {
          
          height: 72px;
          margin-right: 16px;
          padding-top: 72px;
          transition: 750ms $trans;
          overflow: hidden;
          float: left;

          .inner {
            
            width: fit-content;
            transition: 1400ms $trans;
            
          }
          
          &.active {
            
            padding-top: 0;
            // .inner { opacity: 1; }
              
          }
          
        }

      }

      .value {
        
        position: relative;
        margin-top: 64px;
        float: right;
        font-weight: 300;
        font-size: 20px;
        max-width: calc(690px / 2);
        width: fit-content;
        line-height: 1.8;
        text-indent: 64px;
        padding-right: 64px;
        color: rgba($seco, .6);
        transition: 170ms $trans;

        &:before {

          content: '';
          position: absolute;
          top: 16px; left: 0;
          width: 48px; height: 4px;
          background-color: rgba($tert, .6);
          transition: 750ms $trans,
            background-color 170ms $trans;

        }

        &:hover:not(.inactive) {

          color: $seco;
          &:before { background-color: $tert; }

        }

        &.inactive:before {
          width: calc(100%);
        }

      }

      .nav-icons {

        position: absolute;
        bottom: 0; left: 0;

        .prev,
        .next {

          position: absolute;
          width: 48px; height: 48px;
          transform: translate(-50%,50%);
          border-radius: 24px;

          svg {
            
            width: 24px;
            fill: rgba($tert, .4);

            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
            transition: 170ms $trans;

          }

          &:hover svg {
            
            fill: rgba($seco, 1);

          }

        }

        .prev {

          bottom: 12px; left: 12px;

          svg {

            transform: translate(-50%,-50%) rotate(180deg);

          }

        }

        .next {

          bottom: 12px; left: 64px;

        }

      }

    }

    .lower-text {

      transition: 750ms $trans;
      height: 0;
      
      position: absolute;
      top: calc(65vh / 2 + 140px); 
      left: calc((100vw / 1.5) / 2 + (100vw - 100vw / 1.5) - 64px);
      transform: translateX(-50%);
      width: 530px;

      font-size: 16px;
      font-weight: 300;
      line-height: 1.8;

      .section {

        position: relative;
        margin-bottom: 64px;
        padding-left: 96px;

        .no {

          position: absolute;
          top: -12px; left: 32px;
          color: rgba($tert, .5);

          font-weight: 700;
          font-size: 16px;

        }

      }

    }

    &.open {

      top: 0;
      transform: translateY(0);

      width: 100vw;
      height: 100vh;
      overflow-y: scroll;

      .image {

        height: 100vh;

      }

      .lower-text {

        height: 100vh;

      }

      .height { 

        height: 200px; 

      }

    }

  }

}